

/* format the site header */
h1 {
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    background: linear-gradient(.25turn, rgb(59, 101, 193), rgb(0, 0, 92));
}

/* add dividing link on search aside */
#divider {
    border-bottom: 4px solid rgb(174, 174, 174);
}

/* initially hide weather section */
#weather-div {
    display: none;
}

/* format todays weather div */
#today-weather {
    border: 2px solid black;
    border-radius: 10px;
}

/* Change uv index span depending on severity */
span {
    padding: 5px 8px;
    border-radius: 4px;
}

span[data-uvi='low'] {
    color: white;
    background-color: rgb(0, 106, 0);
}
span[data-uvi='moderate'] {
    color: white;
    background-color: rgb(195, 195, 0);
}span[data-uvi='high'] {
    color: white;
    background-color: rgb(220, 95, 0);
}span[data-uvi='very-high'] {
    color: white;
    background-color: rgb(188, 0, 0);
}span[data-uvi='extreme'] {
    color: white;
    background-color: rgb(188, 0, 188);
}


/* formate forecast card */
.fore-card {
    padding: 25px;
    min-width: 200px;
    width: 200px;
    margin: 10px;
    color: white;
    background-color: rgb(41, 53, 92);
    border-radius: 10px;
}